@import '../variables';
@import '../mixins';
@import '../elements';

table#contacts {
    width: 100%;
    counter-reset: row-num -2;
    thead {
        border-bottom: 1px solid shade($color-background, 50);
        th {
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }
    }
    tfoot {
        border-top: 1px solid shade($color-background, 50);
        td {
            font-weight: bold;
            text-align: left;
            font-size: 1.5em;
        }
    }
    tr {
        counter-increment: row-num;
    }
    tr:nth-child(even) {
        background: shade($color-background, 20);
    }
    td {
        padding: 10px 5px;
        text-align: center;
    }
    .counter:after {
        content: counter(row-num);
    }
    a {
        display: inline-block;
        border-radius: 3px;
        border: 1px solid $color-active;
        background-color: $color-active;
        color: #fff;
        padding: 5px;
        margin: 2px 5px;
        cursor: pointer;
    }
}

#delete-dialog {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    a {
        @extend .button;
        &.no {
            border: 1px solid lighten($color-background, 20);
            background-color: lighten($color-background, 20);
            color: $color-text;
        }
    }
}