doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/modernizr.js')
    body
        header
            .container
                .logo-container
                    img.logo.img-responsive(src='/img/betit.png')
                .info
                    block header
        nav
            .container
                include ../elements/menu.pug
        section.content
            .container
                block content
        footer
            .container
                block footer
        script(src='/js/app.js')