@import 'variables';
@import 'mixins';

.button{
    display: inline-block;
    border-radius: 3px;
    border: 1px solid $color-active;
    background-color: $color-active;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}