@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import 'variables';
@import 'mixins';
@import 'elements';

body {
    font: $font-size/$line-height $font;
    color: $color-text;
    background-color: $color-background;
}

a {
    color: $color-active;
    text-decoration: none;
}

.error {
    color: $color-error;
    border: 1px solid $color-error;
}

.hidden {
    display: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.table-responsive {
    width: 100%;
    @include xxs-max {
        overflow-x: scroll;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @include xs-min {
        width: $screen-xs-min;
    }
    @include sm-min {
        width: $screen-sm-min;
    }
    @include md-min {
        width: $screen-md-min;
    }
    @include lg-min {
        width: $screen-lg-min;
    }
}

header {
    padding: 10px 0;
    .logo-container {
        width: 100%;
        max-width: 300px;
        @include sm-min {
            width: 40%;
            float: left;
        }
    }
    .info {
        width: 100%;
        padding: 20px 0;
        font-size: 3em;
        @include sm-min {
            width: 60%;
            float: left;
        }
    }
}

nav {
    text-align: right;
    padding: 0 10px;
    a {
        display: inline-block;
        border-radius: 3px;
        border: 1px solid $color-active;
        background-color: $color-active;
        color: #fff;
        padding: 5px 10px;
        font-size: 1.5em;
    }
}

form {
    padding: 10px 0;
    .form-group {
        width: 100%;
        overflow: hidden;
        padding: 5px 0;
        box-sizing: border-box;
        label, .input {
            display: block;
            float: left;
            width: 100%;
            margin: 0;
            padding: 2px 10px;
            box-sizing: border-box;
            @include xs-min {
                width: 44%;
                margin: 0 3%;
                padding: 0;
            }
        }
        label {
            text-align: left;
            line-height: 25px;
            @include xs-min {
                text-align: right;
            }
        }
        .input {
            input, select {
                width: 100%;
                padding: 4px;
            }
        }
    }
    .buttons {
        padding: 10px;
        text-align: right;
        button {
            @extend .button;
        }
        a {
            @extend .button;
            &.close {
                border: 1px solid lighten($color-background, 20);
                background-color: lighten($color-background, 20);
                color: $color-text;
            }
        }
    }
}