@import 'variables';

@mixin reset-list($margin: 0, $padding: 0) {
    list-style-type: none;
    margin: $margin;
    padding: $padding;
}

@mixin image-div($image, $height: 0) {
    width: image-width($image);
    @if $height > 0 {
        height: $height;
    } @else {
        height: image-height($image);
    }
    background: image-url($image) no-repeat 0 0;
}

@mixin text-hidden {
    overflow: hidden;
    text-indent: -999em;
}

@mixin circle($diameter) {
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
}

@mixin overlay($position: absolute) {
    position: $position;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin tableize($justify: false) {
    width: 100%;
    display: table;

    > * {
        display: table-cell;
        @if $justify {
            width: 1%;
        }
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin contains-inline-block($font-size: 14px) {
    font-size: 0;

    > * {
        font-size: $font-size;
    }
}

@mixin xs-min {
    @media (min-width: $screen-xs-min) {
        @content;
    }
}
@mixin sm-min {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}
@mixin md-min {
    @media (min-width: $screen-md-min) {
        @content;
    }
}
@mixin lg-min {
    @media (min-width: $screen-lg-min) {
        @content;
    }
}
@mixin xxs-max {
    @media (max-width: $screen-xs-min) {
        @content;
    }
}
@mixin xs-max {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}
@mixin sm-max {
    @media (max-width: $screen-sm-max) {
        @content;
    }
}
@mixin md-max {
    @media (max-width: $screen-md-max) {
        @content;
    }
}
@mixin lg-max {
    @media (max-width: $screen-lg-max) {
        @content;
    }
}