$font: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size: 14px;
$line-height: 1.5;

$color-text: #333333;
$color-background: #dddddd;
$color-active: #dd1111;
$color-error: red;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: 1920px;