extend layout/default

block header
    h1= title

block content
    #actions
    .table-responsive
        table#contacts
            thead
                tr
                    th= 'No'
                    th= 'First name'
                    th= 'Last name'
                    th= 'Email'
                    th= 'Country'
                    th= 'Actions'
            tbody#contact_list
            tfoot
                tr
                    td(colspan=4)
                    td.counter(colspan=2)
                        strong= 'Total: '