form#edit-contact
    input#contactid(type='hidden', value= id)
    .form-group
        label(for='firstName')= 'First name'
        .input
            input#firstName(type='text',value= firstName, required=true)
    .form-group
        label(for='lastName', required=true)= 'Last name'
        .input
            input#lastName(type='text', value= lastName, required=true)
    .form-group
        label(for='email')= 'Email'
        .input
            input#email(type='text', value= email, required=true)
    .form-group
        label(for='country')= 'Country'
        .input
            select#country
                each ctr in countries.length ? countries : ['Spain', 'Poland']
                    option(value= ctr, selected= (ctr === country))= ctr
    .form-group.buttons
        button(type='submit')
            span= 'Save'
        a.close= 'Close'